.widget__item--middle {
    height: auto;
}

.cta {
    height: 480px;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}

.cta__row-text--center {
    text-align: center;
}

.cta__row {
    position: relative;
    width: 100%;
    height: 70%;
}

.cta__column {
    position: absolute;
    width: 50%;
}

.cta__image {
    height:  auto;
    max-height: 325px;
}

.cta__text--small {
    top: 20%
}

.cta__item {

    &--right {
        right: 0;
    }

   &--left {
        left: 0;
    }

    &--center {
        margin: 0;
        width: 100%;
        text-align: center;
    }
}

.cmsImage {
    &--right {
        display: block;
        margin-right: 0;
        margin-left: auto;
        max-width: 100%;
    }

    &--left {
        display: block;
        margin-left: 0;
        margin-right: auto;
        max-width: 100%;
    }

    &--center {
        display: block;
        margin: auto;
        max-width: 100%;
    }

    &--fullwidth {
        display: block;
        width: 100%
    }

    &--neutral {
        display: block;
        max-width: 100%
    }
}
