.cms-text {
    &-black {
        color: $color-black;
    }
    &-white {
        color: $color-white;
    }
    &-grey {
        color: $color-heading;
    }
    &-grey-light {
        color: $color-text;
    }
    &-blue {
        color: $color-blue-dark;
    }
    &-red {
        color: #ff0018;
    }
    &-yellow {
        color: $color-coronavirus;
    }
    &-green {
        color: #28a745;
    }
    
    &-size {
        &-16 {
            font-size: 1rem;
        }
        &-18 {
            font-size: 1.125rem;
        }
        &-20 {
            font-size: 1.25rem;
        }
        &-22 {
            font-size: 1.375rem;
        }
        &-24 {
            font-size: 1.5rem;
        }
        &-26 {
            font-size: 1.625rem;
        }
        &-28 {
            font-size: 1.75rem;
        }
        &-30 {
            font-size: 1.875rem;
        }
    }
}
