.visual-password-validator {
    display: flex;
    flex-wrap: wrap;

    &__item {
        flex: 1;
        border-top: 3px solid $color-grey-light-7;
        margin: 5px;
        padding-top: 5px;
        text-align: center;
        line-height: 1.2;
        
        &--danger {
            border-color: $color-red;
        }
        
        &--success {
            border-color: theme-color("success");
        }
    }
}