.hc-Cms-Text {
    background-color: $hcSecondary;
    color: $hcPrimary;
}

.cms-text {
    &-black,
    &-white,
    &-grey,
    &-grey-light,
    &-blue,
    &-red,
    &-yellow,
    &-green {
        color: $hcPrimary;
    }
}
