<article class="item-view">

	<!-- DETAILS: HEADER -->
	<header class="item-view__header vertical-spacing">
		<div class="container">
			<h1 class="heading">
				{{ article?.attributes.title }}
			</h1>

            <!-- modified -->
			<p class="item-view__attribute">
                <strong>{{ 'Attribute.ModificationDate' | translate }}</strong>:
                {{ article?.attributes.modified | translateDateFormat | async }}
            </p>

            <!-- author -->
            <p class="item-view__attribute" *ngIf="article?.attributes.author">
                <strong>{{ 'Attribute.Author' | translate }}</strong>:
                {{ article?.attributes.author }}
            </p>
            
            <!-- keywords -->
            <ng-container *featureFlag="'S21_keywords.fe'; else tags">
                <p class="item-view__attribute" *ngIf="article?.attributes.keywords?.length">
                    <app-keywords [tags]="article?.attributes.keywords"></app-keywords>
                </p>
            </ng-container>

            <!-- tags -->
            <ng-template #tags>
                <p class="item-view__attribute" *ngIf="article?.attributes.tags?.length">
                    <app-keywords [tags]="article?.attributes.tags"></app-keywords>
                </p>
            </ng-template>
		</div>
	</header>


	<!-- DETAILS: BODY -->
	<div class="item-view__body vertical-spacing">
		<div class="container">
            
            <!-- api notifications -->
            <app-notifications></app-notifications>

            <!-- notes -->
			<div [innerHTML]="article?.attributes.notes | sanitizeHtml"></div>
		</div>
	</div>

</article>
