<!-- additional actions - expand/collapse, apply -->
<div class="d-flex align-items-baseline pt-2">

    <!-- expand/collapse list -->
    <app-dropdown-toogle *ngIf="displayShowMore"
        [srTranslationKey]="srTranslationKey" 
        @toggleVertically  
        [isExpanded]="isExpanded"
        (toogleChange)="expandOptionList()">
    </app-dropdown-toogle>
    

    <!-- apply - active btn -->
    <button type="button" class="btn btn-link font-weight-bold ml-auto p-0" (click)="triggerApply()" *ngIf="enableApply">
        <span *ngIf="srTranslationKey" class="sr-only">
            {{ srTranslationKey | translate }}:
        </span>
        <span *ngIf="selectedCount" class="sr-only">
            {{ 'Filters.VarSelected' | translate: {param: selectedCount} }}.
        </span>
        <span *ngIf="!selectedCount" class="sr-only">
            {{ 'Filters.RemoveSelected' | translate }}.
        </span>

        {{ 'Filters.ApplyFilter' | translate }}

        <span *ngIf="selectedCount" aria-hidden="true">
            ({{ selectedCount }})
        </span>
        <span class="sr-only">
            ({{ 'Search.AutoContentReload' | translate }})
        </span>
    </button>

    <!-- apply - inactive btn -->
    <button type="button" class="btn disabled ml-auto p-0" *ngIf="!enableApply" 
        [title]="'Filters.NoFiltersSelected' | translate">
        <span *ngIf="srTranslationKey" class="sr-only">
            {{ srTranslationKey | translate }}:
        </span>
        {{ 'Filters.ApplyFilter' | translate }}
    </button>

</div>
