<div role="tabpanel" [attr.aria-labelledby]="labelledBy">
  <!-- TABS - LEVEL 3 -->
  <ul class="list-unstyled" role="tablist">
    <!-- List -->
    <li class="d-inline" role="presentation" *featureFlag="'S56_new_notification_dashboard.fe'; else oldNotificationTemplate">
      <a
        class="btn btn-sm"
        role="tab"
        id="tabFollowedList"
        [ngClass]="{ 'btn-primary': listActive.isActive ? true : false, 'btn-link': listActive.isActive ? false : true }"
        [attr.aria-selected]="listActive.isActive ? true : null"
        [routerLink]="['list']"
        #listActive="routerLinkActive"
        routerLinkActive=""
      >
        {{ 'User.FollowedDataset' | translate }}
      </a>
    </li>

    <ng-template #oldNotificationTemplate>
      <li class="d-inline" role="presentation">
        <a
          class="btn btn-sm"
          role="tab"
          id="tabFollowedList"
          [ngClass]="{ 'btn-primary': listActive.isActive ? true : false, 'btn-link': listActive.isActive ? false : true }"
          [attr.aria-selected]="listActive.isActive ? true : null"
          [routerLink]="['list']"
          #listActive="routerLinkActive"
          routerLinkActive=""
        >
          {{ 'User.FollowedList' | translate }}
        </a>
      </li>
    </ng-template>

    <!-- Activity -->
    <li class="d-inline" role="presentation" *featureFlag="'S56_new_notification_dashboard.fe'; else oldNotificationActivityTemplate">
      <a
        class="btn btn-sm"
        role="tab"
        id="tabFollowedActivity"
        [ngClass]="{ 'btn-primary': activityActive.isActive ? true : false, 'btn-link': activityActive.isActive ? false : true }"
        [attr.aria-selected]="activityActive.isActive ? true : null"
        [routerLink]="['activity']"
        #activityActive="routerLinkActive"
        routerLinkActive=""
      >
        {{ 'User.FollowedDatasetActivity' | translate }}
      </a>
    </li>

    <ng-template #oldNotificationActivityTemplate>
      <li class="d-inline" role="presentation">
        <a
          class="btn btn-sm"
          role="tab"
          id="tabFollowedActivity"
          [ngClass]="{ 'btn-primary': activityActive.isActive ? true : false, 'btn-link': activityActive.isActive ? false : true }"
          [attr.aria-selected]="activityActive.isActive ? true : null"
          [routerLink]="['activity']"
          #activityActive="routerLinkActive"
          routerLinkActive=""
        >
          {{ 'User.FollowedActivity' | translate }}
        </a>
      </li>
    </ng-template>
  </ul>
</div>

<!-- TAB PANELS -->
<router-outlet></router-outlet>
