<div *ngIf="isPickerVisible" class="tour-picker-wrapper py-2" #tourPickerWrapper>
    <form>
        <div class="container input-group">
            <div class="input-group-prepend">
                <button class="btn"
                        *featureFlag="'S21_custom_tooltip.fe' else bsTooltipLeft;"
                        (click)="toggleFinderMode()"
                        [appTooltip]="isInFinderMode ? '' : 'Rozpocznij wyszukiwanie elementów'"
                        [class.btn-outline-primary]="!isInFinderMode"
                        [class.btn-primary]="isInFinderMode"
                        type="button">
                    <fa-icon [icon]="faLocationArrow"></fa-icon>
                </button>
            </div>

            <label for="tourPickerInput" class="sr-only">Selektor CSS</label>
            <input type="text" #selectorInput [(ngModel)]="cssSelector" name="cssSelector" class="form-control"
                   id="tourPickerInput"
                   placeholder="Naciśnij prawym klawiszem aby pobrać selektor CSS dla zaznaczonego elementu">

            <div class="input-group-append" *featureFlag="'S21_custom_tooltip.fe' else bsTooltipRight;">
                <div [appTooltip]="!!!cssSelector?.length ? 'Pobierz element aby uaktywnić kopiowanie': 'Skopiuj wybrany selector'">
                    <button class="btn btn-outline-primary"
                            [disabled]="!!!cssSelector?.length"
                            (click)="copyToClipboard()" type="button">
                        <fa-icon [icon]="faCopy"></fa-icon>
                    </button>
                </div>
                <button class="btn btn-outline-primary"
                        [appTooltip]="'Zakończ wyszukiwanie elementów'"
                        (click)="hidePicker()" type="button">
                    <fa-icon [icon]="faTimes"></fa-icon>
                </button>
            </div>
        </div>
    </form>
</div>

<!-- TODO remove with S21_custom_tooltip.fe -->
<ng-template #bsTooltipLeft>
    <button class="btn"
            (click)="toggleFinderMode()"
            [tooltip]="isInFinderMode ? '' : 'Rozpocznij wyszukiwanie elementów'"
            [class.btn-outline-primary]="!isInFinderMode"
            [class.btn-primary]="isInFinderMode"
            type="button">
        <fa-icon [icon]="faLocationArrow"></fa-icon>
    </button>
</ng-template>

<ng-template #bsTooltipRight>
    <div class="input-group-append">
        <div [tooltip]="!!!cssSelector?.length ? 'Pobierz element aby uaktywnić kopiowanie': 'Skopiuj wybrany selector'"
             container=".tour-picker-wrapper"
             placement="left">
            <button class="btn btn-outline-primary"
                    [disabled]="!!!cssSelector?.length"
                    (click)="copyToClipboard()" type="button">
                <fa-icon [icon]="faCopy"></fa-icon>
            </button>
        </div>
        <button class="btn btn-outline-primary"
                [tooltip]="'Zakończ wyszukiwanie elementów'"
                (click)="hidePicker()" type="button">
            <fa-icon [icon]="faTimes"></fa-icon>
        </button>
    </div>
</ng-template>
