<!-- API source link -->
<div>
    <a href="{{ apiUrl }}" target="_blank" class="btn btn-primary"
       [ngClass]="customCssClass"
       [appTooltip]="'Tour.Tooltip.Dataset.API.text' | translate"
       [title]="'Tour.Tooltip.Dataset.API.title' | translate"
       [placement]="['right', 'bottom']"
       *ngIf="apiUrl">

        {{ 'Action.SeeResultsViaApi' | translate }}
        <span class="sr-only">
        {{ "SkipTo.NewWindow" | translate }}
    </span>

        <svg class="icon icon-chevrons-right" role="img" aria-hidden="true">
            <use xlink:href="/assets/icomoon/sprite/sprite.svg#icon-chevrons-right"></use>
        </svg>
    </a></div>

