<div
  class="tour-button-wrapper"
  placement="left"
  appTooltip="{{ isButtonVisible && isButtonActive ? ('Tour.Button.TooltipText' | translate) : '' }}"
  title="{{ 'Tour.Button.TooltipTitle' | translate }}"
>
  <button *ngIf="isButtonVisible" (click)="showTour()" [disabled]="!isButtonActive" class="btn tour-button">
    <svg class="icon icon-tour-button" role="img">
      <title>{{ 'Tour.Button.NewIconLabel' | translate }}</title>
      <use xlink:href="/assets/icomoon/sprite/sprite.svg#icon-tour-button"></use>
    </svg>
  </button>
</div>

<ng-template #tooltipTemplate>
  <app-tooltip-with-title text="{{ 'Tour.Button.TooltipText' | translate }}" title="{{ 'Tour.Button.TooltipTitle' | translate }}">
  </app-tooltip-with-title>
</ng-template>
