<footer class="page-footer" id="main-footer" tabindex="-1">
  <!-- navigation -->
  <div *featureFlag="'S44_footer_cms.fe'; else oldNavFooter">
    <cms-landing-page [widgetFooterSubject]="cmsFooterNavigationPage"></cms-landing-page>
  </div>

  <ng-template #oldNavFooter>
    <div class="container">
      <!-- navigation -->
      <div class="row">
        <div class="col-sm-6 col-md-12 col-lg-3">
          <div class="row">
            <div class="col-md-4 col-lg-12">
              <!-- app logo -->
              <svg
                class="brand-img brand-img--md mb-4"
                role="img"
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 150 50"
                preserveAspectRatio="xMinYMid meet"
                aria-labelledby="logo-footer-title"
              >
                <title id="logo-footer-title">Otwarte Dane</title>
                <text class="brand-img__text" x="0" y="0">
                  <tspan x="75" y="25">OTWARTE</tspan>
                  <tspan x="75" y="45">DANE</tspan>
                </text>
                <g class="brand-img__do">
                  <path d="M62.6,5.3H70L58.9,46h-7.4C51.5,46,62.6,5.3,62.6,5.3z" />
                  <path
                    d="M25.7-0.2C25.7-0.2,25.6-0.2,25.7-0.2c-13.8,0-25,11.2-25,25s11.2,25,25,25s25-11.2,25-25l0,0
                                C50.6,10.9,39.5-0.2,25.7-0.2L25.7-0.2L25.7-0.2z M28.4,40.5H13.6V10.9h14.8c0.1,0,0.3,0,0.5,0c8.2,0,14.8,6.6,14.8,14.8
                                s-6.6,14.8-14.8,14.8C28.7,40.5,28.6,40.5,28.4,40.5L28.4,40.5L28.4,40.5z"
                  />
                </g>
              </svg>
            </div>
            <div class="col-md-4 col-lg-12">
              <!-- List #1 -->
              <app-footer-nav-list class="d-none d-sm-block">
                <!-- Source Code -->
                <li
                  class="page-footer__list-item"
                  role="presentation"
                  app-footer-nav-link-external
                  [link]="appConfig.urls.gitlab"
                  [labelTranslationKey]="'SourceCode'"
                ></li>

                <!-- Api Documentation -->
                <li
                  class="page-footer__list-item"
                  role="presentation"
                  app-footer-nav-link-external
                  [link]="appConfig.urls.doc"
                  [labelTranslationKey]="'ApiDocumentation'"
                ></li>

                <!-- RDF Documentation -->
                <li
                  class="page-footer__list-item"
                  role="presentation"
                  app-footer-nav-link-external
                  [link]="rdfDocumentationURL"
                  [labelTranslationKey]="'RDFDocumentation'"
                ></li>
              </app-footer-nav-list>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <!-- List #2 -->
          <app-footer-nav-list [titleTranslationKey]="'Menu.Self'">
            <!-- Home -->
            <li
              class="page-footer__list-item"
              role="presentation"
              app-footer-nav-link-internal
              [link]="'/'"
              [labelTranslationKey]="'Menu.Home'"
            ></li>

            <!-- Datasets -->
            <li
              class="page-footer__list-item"
              role="presentation"
              app-footer-nav-link-internal
              [link]="'/!dataset'"
              [labelTranslationKey]="'Menu.Datasets'"
            ></li>

            <!-- Institutions -->
            <li
              class="page-footer__list-item"
              role="presentation"
              app-footer-nav-link-internal
              [link]="'/!institution'"
              [labelTranslationKey]="'Menu.Institutions'"
            ></li>

            <!-- Showcases -->
            <li
              class="page-footer__list-item"
              role="presentation"
              app-footer-nav-link-internal
              [link]="'/!showcase'"
              [labelTranslationKey]="'Menu.Showcases'"
              *featureFlag="'S40_innovation_routing.fe'; else oldAppView1"
            ></li>
            <ng-template #oldAppView1>
              <!-- Applications -->
              <li
                class="page-footer__list-item"
                role="presentation"
                app-footer-nav-link-internal
                [link]="'/!application'"
                [labelTranslationKey]="'Menu.Applications'"
              ></li>
            </ng-template>

            <!-- News -->
            <li
              class="page-footer__list-item"
              role="presentation"
              app-footer-nav-link-internal
              [link]="'/!article'"
              [labelTranslationKey]="'Menu.News'"
            ></li>

            <!-- Knowledge Base -->
            <li
              class="page-footer__list-item"
              role="presentation"
              app-footer-nav-link-internal
              [link]="'/!' + routerEndpoints.KNOWLEDGE_BASE + '/!' + routerEndpoints.MULTIMEDIA_TRAINING"
              [labelTranslationKey]="'Menu.KnowledgeBase'"
            ></li>
          </app-footer-nav-list>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <!-- List #3 -->
          <app-footer-nav-list [titleTranslationKey]="'Breadcrumbs.HelpAndRegulations'">
            <!-- About -->
            <li
              class="page-footer__list-item"
              role="presentation"
              app-footer-nav-link-internal
              [link]="'/!about'"
              [labelTranslationKey]="'Breadcrumbs.AboutComponent'"
            ></li>

            <!-- Faq -->
            <li
              class="page-footer__list-item"
              role="presentation"
              app-footer-nav-link-internal
              [link]="'/!' + routerEndpoints.KNOWLEDGE_BASE + '/!' + routerEndpoints.USEFUL_MATERIALS + '/!' + routerEndpoints.FAQ"
              [labelTranslationKey]="'KnowledgeBase.Faq'"
            ></li>

            <!-- modal: rodo -->
            <li class="page-footer__list-item" role="presentation">
              <button class="btn btn-link p-0" (click)="onRodoModalOpen()" (keydown.enter)="onRodoModalOpen()" #rodoModalTrigger>
                {{ 'Rodo.Title' | translate }}
              </button>
            </li>

            <!-- Regulations -->
            <li
              class="page-footer__list-item"
              role="presentation"
              app-footer-nav-link-internal
              [link]="'/!regulations'"
              [labelTranslationKey]="'Menu.Regulations'"
            ></li>

            <!-- declaration-of-accessibility -->
            <li
              class="page-footer__list-item"
              role="presentation"
              app-footer-nav-link-internal
              [link]="'/!declaration-of-accessibility'"
              [labelTranslationKey]="'Menu.Declaration'"
            ></li>

            <!-- Sitemap html -->
            <li
              class="page-footer__list-item"
              role="presentation"
              app-footer-nav-link-internal
              [link]="'/!sitemap'"
              [labelTranslationKey]="'Breadcrumbs.SitemapComponent'"
            ></li>
          </app-footer-nav-list>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <!-- List #4 -->
          <app-footer-nav-list [titleTranslationKey]="'Newsletter.Contact'">
            <!-- modal: Contact -->
            <li class="page-footer__list-item" role="presentation">
              <app-write-us-info [buttonLabel]="'Menu.Contact'" [buttonSize]="'md'" [buttonLook]="'link'" [inheritLook]="true">
              </app-write-us-info>
            </li>

            <!-- Newsletter -->
            <li
              class="page-footer__list-item"
              role="presentation"
              app-footer-nav-link-internal
              [link]="'/!newsletter'"
              [labelTranslationKey]="'Newsletter.Subscribe'"
            ></li>

            <!-- Suggest Dataset -->
            <li
              class="page-footer__list-item"
              role="presentation"
              app-footer-nav-link-internal
              [link]="'/!dataset/!submissions'"
              [labelTranslationKey]="'DatasetForm.SuggestDataset'"
            ></li>

            <!-- Suggest Application -->
            <li
              class="page-footer__list-item"
              role="presentation"
              app-footer-nav-link-internal
              [link]="'/!showcase/!suggest'"
              [labelTranslationKey]="'Applications.SuggestFooterName'"
              *featureFlag="'S40_innovation_routing.fe'; else oldAppView2"
            ></li>

            <ng-template #oldAppView2>
              <!-- Suggest Application -->
              <li
                class="page-footer__list-item"
                role="presentation"
                app-footer-nav-link-internal
                [link]="'/!application/!suggest'"
                [labelTranslationKey]="'Applications.Suggest'"
              ></li>
            </ng-template>

            <!-- Survey -->
            <li
              class="page-footer__list-item"
              role="presentation"
              app-footer-nav-link-internal
              [link]="'/!forms/!ankieta-o-portalu'"
              [labelTranslationKey]="'Cms.FillOutSurvey'"
            ></li>
          </app-footer-nav-list>
        </div>
      </div>
    </div>
  </ng-template>

  <!-- LOGOs -->
  <div class="external-logos" *featureFlag="'S44_footer_cms.fe'; else oldLogosFooter">
    <cms-block2
      class="pt-3 pb-3 external-logos--cms-block"
      [widgetsSubject]="cmsFooterLogoSection"
      [isFooterLogos]="true"
      [isFullWidth]="true"
    ></cms-block2>
  </div>
  <ng-template #oldLogosFooter>
    <div class="external-logos">
      <!-- delete class external-logos when S44_footer_cms.fe flag will be removed-->
      <!-- Fundusze Europejskie - Polska Cyfrowa -->
      <svg class="icon non-hc d-inline-block" role="img" aria-labelledby="logo-fe-pc-title" style="width: 100px; height: 50px">
        <title id="logo-fe-pc-title">Fundusze Europejskie - Polska Cyfrowa</title>
        <use xlink:href="/assets/logos-sprite.svg#icon-logo-fe-pc"></use>
      </svg>

      <!-- Rzeczpospolita Polska -->
      <svg class="icon non-hc d-inline-block" role="img" aria-labelledby="logo-rp-title" style="width: 150px; height: 32px">
        <title id="logo-rp-title">Rzeczpospolita Polska</title>
        <use xlink:href="/assets/logos-sprite.svg#icon-logo-rp"></use>
      </svg>

      <!-- Europejski Fundusz Rozwoju Regionalnego -->
      <svg class="icon non-hc d-inline-block" role="img" aria-labelledby="logo-efrr-title" style="width: 165px; height: 40px">
        <title id="logo-efrr-title">Europejski Fundusz Rozwoju Regionalnego</title>
        <use xlink:href="/assets/logos-sprite.svg#icon-logo-efrr"></use>
      </svg>
    </div>
  </ng-template>

  <!-- Modal RODO  -->
  <ng-template #rodoModalTemplate>
    <app-rodo-modal (isModalClosed)="rodoModalClose()"></app-rodo-modal>
  </ng-template>

  <!-- Modal write us  -->
  <ng-template *featureFlag="'S44_footer_cms.fe'" #writeUsModalTemplate>
    <div app-focus-trap>
      <!-- modal header -->
      <div class="modal-header">
        <h1 class="modal-title pull-left">
          {{ 'Menu.Contact' | translate }}
        </h1>
        <button type="button" id="header-close" class="close pull-right focus-trap-first" (click)="onWriteUsModalClose()">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">
            {{ 'Action.Close' | translate }}
            {{ 'Modal' | translate | lowercase }}
            "{{ 'Menu.Contact' | translate }}"
          </span>
        </button>
      </div>

      <!-- modal body -->
      <div class="modal-body">
        <p>
          {{ 'WriteUs.Suggestions' | translate }}
        </p>
        <a [href]="'mailto:' + appConfig.contactEmail + '?subject=[' + appConfig.domain + '] Kontakt ze strony'">
          {{ appConfig.contactEmail }}
        </a>
      </div>

      <!-- modal footer -->
      <div class="modal-footer">
        <div class="form-group text-right">
          <button type="button" id="footer-close" class="btn btn-outline-primary focus-trap-last" (click)="onWriteUsModalClose()">
            {{ 'Action.Close' | translate }}
            <span class="sr-only">
              {{ 'Modal' | translate | lowercase }}
              "{{ 'Menu.Contact' | translate }}"
            </span>
          </button>
        </div>
      </div>
    </div>
  </ng-template>

  <div hidden>version: {{ currentVersion }}</div>
</footer>
