<ul
  class="dropdown__list dropdown__list-expandable dropdown__list-{{ filterName }}"
  [ngClass]="expandedClass"
  *ngIf="singleSelectOption; else WithoutHighValueData"
>
  <li class="dropdown-item" *ngIf="!!options">
    <input
      #checkboxNo
      type="checkbox"
      class="dropdown-item__input"
      id="chk-0"
      [checked]="selectedIds && !!selectedIds[options[0].id]"
      (click)="selectItem(options[0])"
      (keyup.enter)="selectItem(options[0])"
      (change)="onChangeDisabled($event, 'checkboxNo')"
    />

    <label for="chk-0" class="dropdown-item__content">
      <span class="dropdown-item__content-wrapper" title="{{ options[0]?.title }}">
        <span class="dropdown-item__content-title" [innerHtml]="options[0][displayValue] || options[0]"> </span>
      </span>

      <span class="dropdown-item__content-doc-count">
        <span aria-hidden="true">({{ options[0]?.doc_count }})</span>
        <span class="sr-only">
          {{ 'Filters.VarElements' | translate: { param: options[0]?.doc_count } }}
        </span>
      </span>
    </label>
  </li>
  <li class="dropdown-item" *ngIf="!!options">
    <input
      #checkboxYes
      type="checkbox"
      class="dropdown-item__input"
      id="chk-1"
      [checked]="selectedIds && !!selectedIds[options[1].id]"
      (click)="selectItem(options[1])"
      (keyup.enter)="selectItem(options[1])"
      (change)="onChangeDisabled($event, 'checkboxYes')"
    />

    <label for="chk-1" class="dropdown-item__content">
      <span class="dropdown-item__content-wrapper" title="{{ options[1]?.title }}">
        <span class="dropdown-item__content-title" [innerHtml]="options[1][displayValue] || options[1]"> </span>
      </span>

      <span class="dropdown-item__content-doc-count">
        <span aria-hidden="true">({{ options[1]?.doc_count }})</span>
        <span class="sr-only">
          {{ 'Filters.VarElements' | translate: { param: options[1]?.doc_count } }}
        </span>
      </span>
    </label>
  </li>
  <li *ngIf="options && !options.length">{{ 'Filters.NoResults' | translate }}</li>
</ul>

<ng-template #WithoutHighValueData>
  <ul class="dropdown__list dropdown__list-expandable dropdown__list-{{ filterName }}" [ngClass]="expandedClass">
    <li class="dropdown-item" *ngFor="let item of options; let itemIndex = index">
      <input
        type="checkbox"
        class="dropdown-item__input"
        id="chk-{{ itemIndex }}-{{ generatedId }}"
        [checked]="selectedIds && !!selectedIds[item.id]"
        (click)="selectItem(item)"
        (keyup.enter)="selectItem(item)"
      />

      <label for="chk-{{ itemIndex }}-{{ generatedId }}" class="dropdown-item__content">
        <span
          class="dropdown-item__content-wrapper"
          title="{{ item.titleTranslationKey ? (item.titleTranslationKey | translate) + ' ' + item.id : item.title }}"
        >
          <span
            class="dropdown-item__content-title"
            [attr.aria-hidden]="item.titleTranslationKey ? true : null"
            [innerHtml]="item[displayValue] || item"
          >
          </span>
        </span>

        <span class="dropdown-item__content-doc-count">
          <span aria-hidden="true">({{ item.doc_count }})</span>
          <span class="sr-only">
            {{ 'Filters.VarElements' | translate: { param: item.doc_count } }}
          </span>
        </span>
      </label>
    </li>
    <li *ngIf="options && !options.length">{{ 'Filters.NoResults' | translate }}</li>
  </ul>
</ng-template>
