<ul class="dropdown__list dropdown__list-expandable" [ngClass]="expandedClass">
    <li class="dropdown-item" *ngFor="let item of options; let itemIndex = index">

        <input type="checkbox" class="dropdown-item__input"
            id="chk-{{generatedId}}-{{ itemIndex }}"
            [checked]="selectedIds && !!selectedIds[item.id]"
            (click)="selectItem(item)"
            (keyup.enter)="selectItem(item)"/>

        <label for="chk-{{generatedId}}-{{ itemIndex }}" class="dropdown-item__content">
            
            <span class="dropdown-item__content-wrapper"
                title="{{ item.titleTranslationKey ? (item.titleTranslationKey | translate) + ' ' + item.id : item.title }}">
                
                <span class="dropdown-item__content-title"
                    [attr.aria-hidden]="item.titleTranslationKey ? true : null" 
                    [innerHtml]="item[displayValue] || item">
                </span>
            </span>

            <span class="dropdown-item__content-doc-count">
                <span aria-hidden="true">({{ item.doc_count }})</span>
                <span class="sr-only">
                    {{ 'Filters.VarElements' | translate:{ param:item.doc_count } }}
                </span>
            </span>
        </label>

    </li>
    <li *ngIf="options && !options.length">{{'Filters.NoResults' | translate}}</li>
</ul>

