.cms-raw-text {
  .page-footer__nav ul[role='menu'] {
    padding-left: 0;
    list-style: none;
  }
  .page-footer {
    &__list-item {
      color: inherit;
      text-decoration: underline;
      cursor: pointer;

      &:hover {
        color: #7bf;
      }
    }
  }
}
